<!--<ngx-charts-bar-vertical
  [results]="single"

  >
</ngx-charts-bar-vertical>

<ngx-charts-pie-chart [results]="single"  ></ngx-charts-pie-chart> -->
<h1>DBS Bank</h1>
<article  class="post featured">
  <header class="major">
   <!-- <span class="date">April 25, 2017</span>-->
    <h2><a href="#">DBS<br />
    Bank</a></h2>
    <br>
    <p style="font-style:italic">World's Best Bank</p>
  </header>
  </article>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
  <h4>follow us</h4>
  <div class="social-links">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
  </div>
</div>
    </div>
    </div>
  </footer>
